# SPDX-FileCopyrightText: Red Hat Inc
# SPDX-License-Identifier: LGPL-2.1-or-later

# Python
__pycache__

# Build directories
build/

# meson subprojects directory
subprojects/

# cscope output
cscope.out
