# SPDX-FileCopyrightText: Red Hat Inc
# SPDX-License-Identifier: LGPL-2.1-or-later

# Prerequisites
*.d

# Object files
*.o

# Executables
blksum
blkhash_test

# Python
__pycache__

# Build directories
build/

# meson subprojects directory
subprojects/
